*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    nav{
        .sidebar{
            background-color: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(10px);
        }
        .logo{
            width: 90px;
            height: 60px;
            .logo:hover{
                transform: scale(1.5,1.5);
            }
        }
        .nav-item:hover{
            transform: scale(1.2,1.2);
        }
        h1{ 
            font-family: "Pirata One", system-ui; 
            font-weight: 400; 
            font-size: 50px; 
            font-style: normal; 
            color: white;  
            h1:hover{ 
                color: red; 
            }
        } 
        
    }
}